# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# Database
*.sqlite3
*.db
idp.db

# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# IDE
.vscode/
.idea/

# Media Uploads
backend/data/
data/
